@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap");

*,
:after,
:before {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: #edebe7;
  font-family: "Lato", sans-serif;
  color: #202020;
  overflow-x: hidden;
  margin: 0;
  padding: 5px;
  font-weight: 400;
  min-height: 100%;
  font-size: calc(14px + 0.25vw);
  position: relative;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}

input[type="number"] {
  border-radius: 4px;
  border: 1px solid #5c5c5c;
}

svg {
  fill: #000;
  width: 30px;
  height: 30px;
  padding: 3px;
  pointer-events: none;
}

.app {
  position: relative;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(320px, 550px));
  gap: 5px;
  width: 100%;
  margin: 60px auto;
}

.app:before {
  position: fixed;
  content: attr(data-name);
  z-index: 1;
  top: 0;
  left: -5px;
  right: -5px;
  margin: auto;
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 5px;
  display: block;
  background: #fff;
  padding: 10px;
  width: 100%;
  box-shadow: 0 0 20px rgba(250, 126, 112, 0.4);
  border-bottom: 1px solid #fdb6ae;
}

#zooom-overlay {
  background-color: #edebe7 !important;
}

.number-images {
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  background: #d4d4d4;
}

.number-images input {
  padding: 5px;
  max-width: 80px;
  font-size: inherit;
}

.number-images label {
  margin-right: 5px;
}

.item {
  position: relative;
}

.image-name {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  background: rgba(0, 0, 0, 0.9);
  padding: 5px 10px;
  font-size: 80%;
}

.send-email {
  position: fixed;
  display: none;
  bottom: 0;
  z-index: 9999;
  padding: 10px 20px;
  background: salmon;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1px;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 4px 4px 0 0;
}

.show {
  display: flex !important;
}
